.top-bar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 1rem;
  background-color: #2C3E50;
  width: auto;
  height: 64px;
}
